h2 {
  text-align: center;
}

.button-wraper {
  padding: 3.5rem 0;
}

.urgent, .important, .others {
  height: auto;
  padding: 2rem;
}

.urgent {
  background-color: rgb(196, 68, 68);
}

.important {
  background-color: rgb(199, 123, 123);
}

.others {
  background-color: rgb(90, 101, 184);
}

.btn {
  color: whitesmoke;
  background-color: rgb(199, 123, 123);
  font-size: 1.6rem;
  font-weight: bold;
  letter-spacing: .3rem;
  padding-bottom: 2rem;
  padding-top: 2rem;
  text-transform: uppercase;
  word-spacing: .7rem;
}

@media (min-width: 992px) {
  .boards {
    display: flex;
  }
}
