<div class="container-fluid">
  <div class="button-wraper row">
    <div class="col-sm-offset-3 col-sm-6 col">
      <a class="btn btn-block" routerLink="/new-task">Add new task</a>
    </div>
  </div>
  <div class="boards row">
    <div class="urgent col-xs-12 col-md-4 col">
      <h2>Urgent</h2>
      <div>
        <app-task></app-task>
        <app-task></app-task>
        <app-task></app-task>
        <app-task></app-task>
        <app-task></app-task>
      </div>
    </div>
    <div class="important col-xs-12 col-md-4 col">
      <h2>Important</h2>
      <div>
        <app-task></app-task>
        <app-task></app-task>
        <app-task></app-task>
      </div>
    </div>
    <div class="others col-xs-12 col-md-4 col">
      <h2>Others</h2>
      <div>
        <app-task></app-task>
        <app-task></app-task>
        <app-task></app-task>
      </div>
    </div>
  </div>

</div>
