<div class="container">
  <p><a routerLink="/">&lt;&lt; Go back to your tasks</a></p>
  <form (ngSubmit)="onSubmit(newTask)" #newTask="ngForm">
    <div class="form-group">
      <label for="title">Task*</label>
      <input type="text" class="form-control" id="title" name="title" placeholder="Write your task"
      required ngModel #titleField="ngModel">
      <span class="help-block" *ngIf="titleField.invalid && titleField.touched">Please write a task!</span>
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea class="form-control" id="description" name="description"
      placeholder="Write here all details you don't want to forget" rows="3" ngModel></textarea>
    </div>
    <div class="form-group">
      <label for="status">Type*</label>
      <select class="form-control" id="status" name="status" required ngModel #statusField="ngModel">
        <option>Urgent</option>
        <option>Important</option>
        <option>Others</option>
      </select>
      <span class="help-block" *ngIf="statusField.invalid && statusField.touched">Please choose importance of your task!</span>
    </div>
    <small class="form-text text-muted">Fields marked with an asterisk (*) are required</small>
    <button type="submit" class="btn btn-warning btn-block">Add your task</button>
  </form>
</div>

